.task-control {
  color: rgb(72, 12, 12);
  text-align: left;
  align-items: center;
  margin-top: 20px;
  box-shadow: 5px 10px 10px rgba(130, 129, 129, 0.5);
  background-color: rgb(249, 248, 211);
}
.icon-content {
  color: rgb(82, 5, 64);
}
.todo-task {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.todo-icons {
  display: flex;
  gap: 10px;
  font-size: 15px;
  align-items: center;
}
.icons {
  font-size: 20px;
  margin-top: auto;
  cursor: pointer;
}
#input-item {
  text-decoration: line-through;
  opacity: 0.5;
  color: red;
}
